/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Open Sans" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
main {
  flex-grow: 1;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  width: 100%;
  position: fixed;
  padding-top: 19px;
  padding-bottom: 19px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.logo {
  cursor: pointer;

  color: rgba(25, 25, 25, 1);
}

.logo:hover {
  color: rgba(25, 25, 25, 0.8);
}
.logo:active {
  color: rgba(25, 25, 25, 0.4);
}
.navbar {
  display: flex;
}
.nav-list {
  padding-left: 16px;
  display: flex;
  align-items: center;
}
.nav-list:not(first-child):active {
  background-color: rgba(25, 25, 25, 0.7);
}
.nav-item:not(last-child) {
  margin-right: 32px;
}
.nav-link {
  color: #000000;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  position: relative;
}
.nav-link::before {
  content: "";
  width: 0%;
  height: 5px;
  background-color: rgba(25, 25, 25, 1);
  display: inline-block;
  position: absolute;
  bottom: -5px;
  transition: all 0.4s;
}
.nav-link:hover::before {
  width: 100%;
}
.nav-btn {
  margin-left: 24px;
  padding: 8px 16px;
  background: #00bafc;
  border-radius: 5px;
  border-color: rgba(0, 186, 252, 1);
}
.nav-btn:hover {
  background-color: #ffffff;
  color: #00bafc;
}
.nav-btn:active {
  background-color: rgba(0, 186, 252, 0.6);
}
.nav-tel:hover {
  color: #00bafc;
}
.nav-tel {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}
.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  flex-direction: column;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-table {
  width: 465px;
  margin-right: 172px;
}
.hero-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  margin-bottom: 16px;
  color: #000000;
}
.hero-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  color: #000000;
}
.hero-btn {
  padding: 8px 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background: #00bafc;
  border-radius: 5px;
  color: #ffffff;
  border-color: #00bafc;
}
.hero-btn:hover {
  background-color: rgba(0, 186, 252, 0.8);
  /* color: rgba(255, 255, 255, 0.8); */
}
.hero-btn:active {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 186, 252, 0.6);
}
.youtube {
  border-radius: 5px;
}

.services {
  padding-top: 25px;
  padding-bottom: 56px;
}
.services-container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;
}
.services-text {
  width: 650px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}
.services-wrappers {
  padding-top: 8px;
  background: #ffffff;
}
.services-wrappers-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.services-wrappers-item:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.services-wrappers-list {
  display: flex;

  align-items: center;

  flex-wrap: wrap;
  justify-content: center;
}
.services-item {
  padding-top: 24px;
  padding-bottom: 24px;

  width: 320px;
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 48px;
  /* margin-right:auto;
    margin-left: auto; */
}
.services-item:nth-child(1) {
  margin-right: 70px;
}
.services-item:nth-child(2) {
  margin-right: 70px;
}
.services-item:nth-child(4) {
  margin-right: 70px;
}
.services-wrappers-img {
  margin-bottom: 16px;
}
.services-wrappers-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}
.services-wrappers-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}
.services-btn {
  background: #00bafc;
  border-radius: 5px;
  border: #00bafc;
  padding: 8px 16px;
  margin-right: 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}
.services-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  text-decoration-line: underline;

  color: #00bafc;
}
.work {
  padding-top: 56px;
  padding-bottom: 56px;
}
.work-container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.work-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;
}
.work-text {
  margin-right: auto;
  margin-left: auto;
  max-width: 650px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  color: #000000;
}
.work-wrappers {
  max-width: 830px;
  margin-right: auto;
  margin-left: auto;
}
.work-wrappers-step {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  /* margin-right: 32px; */
}
.work-img:nth-child(1) {
  margin-right: 32px;
}
.work-img:nth-child(3) {
  margin-right: 32px;
}
.work-img:nth-child(5) {
  margin-right: 32px;
  margin-bottom: 16px;
}
.work-img:nth-child(2) {
  margin-left: 32px;
}
.work-img:nth-child(4) {
  margin-left: 32px;
}
.work-wrappers-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: left;
  margin-bottom: 8px;
  color: #000000;
}
.work-wrappers-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.work-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #00bafc;
  border-radius: 5px;
  border: #00bafc;
  padding: 8px 16px;
  cursor: pointer;
}
.buyurtma {
  padding-top: 56px;
  padding-bottom: 56px;
  background: #00bafc;
}
.buyurtma-container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.buyurtma-btn {
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  background: #00bafc;
  border: #00bafc;
  margin-bottom: 16px;
}
.buyurtma-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}
.login {
  width: 350px;

  margin-right: auto;
  margin-left: auto;
  padding: 24px;
  background: #ffffff;
  border-radius: 5px;
}
.input {
  background: #f3f3f3;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.login-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  background-color: #00bafc;
  border: #00bafc;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.footer {
  background: #191919;
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer-container {
  display: flex;
}
.footer-table {
  width: 320px;
  margin-right: 100px;
}
.footer-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.footer-nav-list {
  width: 143px;
  margin-right: 87px;
}
.footer-nav-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 16px;

  color: #ffffff;
}
.footer-nav-item:not(last-child) {
  margin-bottom: 8px;
}
.footer-nav-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.footer-nav-link:hover {
  color: rgba(0, 186, 252, 1);
}
.footer-nav-link:active {
  color: rgba(0, 186, 252, 0.6);
}
.footer-messenger-list {
  width: 142px;
  align-items: center;
}
.footer-messenger-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 16px;

  color: #ffffff;
}
.footer-messenger-item {
  align-items: center;
}
.footer-messenger-item:not(last-child) {
  margin-bottom: 8px;
}
.footer-messenger-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 8px;
}
.footer-messenger-icon:hover {
  color: rgba(0, 186, 252, 1);
}
.footer-messenger-icon:active {
  color: rgba(0, 186, 252, 0.6);
}
.footer-messenger-link:hover {
  color: rgba(0, 186, 252, 1);
}
.footer-messenger-link:active {
  color: rgba(0, 186, 252, 0.6);
}
/* XIzMTlAR */
/* XIzMTlAR */
/* XIzMTlAR */
/* XIzMTlAR */
/* XIzMTlAR */
/* XIzMTlAR */
/* XIzMTlAR */
.hero-services {
  padding-top: 72px;
  padding-bottom: 72px;
}
.hero-services-wrrapers {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.hero-services-title {
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;
}
.hero-services-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.xizmatlar-bilan-tanishish {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgba(244, 244, 244, 1);
}
.xizmatlar-tanishish-container {
  max-width: 804px;
  flex-direction: column;
  align-items: center;
}
.xizmatlar-tanishish-wrappers {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 32px;
}
.xizmatlar-tanishish-wrappers:not(last-child) {
  margin-bottom: 64px;
}
.xizmatlar-tanishish {
  margin-left: 40px;
}

.xizmatlar-tanishish-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 16px;

  color: #000000;
}
.xizmatlar-tanishish-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;

  color: #000000;
}
.xizmatlar-item {
  display: flex;
  align-items: center;
}

.xizmat-hr {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #00bafc;
  margin-right: 8px;
}
.xizmatlar-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}
.xizmatlar-item:not(last-child) {
  margin-bottom: 8px;
}
.btn-buyurtma {
  margin-top: 16px;
}
.xizmatlar-btn {
  padding: 8px 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-right: 32px;
  background: #00bafc;
  border-radius: 5px;
  color: #ffffff;
  border: #00bafc;
  cursor: pointer;
}
.xizmatlar-btn:hover {
  background-color: #ffffff;
  color: #00bafc;
  border: #00bafc 3px solid;
}
.xizmatlar-btn:active {
  background-color: rgba(0, 186, 252, 0.6);
}
.xizmatlar-malumot {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #00bafc;
}
